:root{
	/* colors */
	--header-color: black;
	--background-color: #f9f9f9;
	--searchSuggestion-color: var(--background-color);
	--searchSuggestion-color-border:  rgb(0, 0, 0);
	--searchSuggestion-color-shadow: rgba(0, 0, 0, 0.1);
	--searchSuggestion-color-item: var(--searchSuggestion-color);
	--searchSuggestion-color-item-hover: lightgray;

	--yearSlider-color: lightgray;
	/* --yearSlider-color-border: black; */
	--yearSlider-color-label: black;
	--yearSlider-color-knob: orange;
	--yearSlider-color-knob-border: black;

	--map-color: #cce0ff;
	--county-color: var(--background-color);
	--county-color-border: gray;
	--county-color-label: #444;
	--county-color-highlight: var(--county-color);
	--county-color-border-highlight: red;

	--city-color: lightgray;
	--city-color-border: gray;
	--city-color-label: black;
	--city-color-highlight: var(--city-color);
	--city-color-border-highlight: rgb(88, 88, 255);

	--fire-color: orange;
	--fire-color-selected: #ff4500;
	--fire-color-border: #ff8800;
	--fire-color-border-selected: #8b0000;

	--sidebar-color: #f1f1f1;
	--sidebar-color-shadow: rgba(0, 0, 0, 0.2);
	--sidebar-color-button: red;

	--graph-color: rgba(0, 0, 0, 0);
	--graph-color-border: none;
	--graph-color-line: blue;
	--graph-color-circle: black;

}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	background: var(--background-color);
}
body {
	display: flex;
	flex-direction: column;
}
header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 1px solid var(--header-color);
}

/* search bar styling */
#searchBar {
	padding: 10px;
	/* background: var(--background-color); */
	/* border-bottom: 1px solid #ccc; */
	position: relative;
}

#searchInput {
	width: 300px;
	padding: 5px;
	font-size: 14px;
	cursor: text;
}

/* #searchButton {
	padding: 5px 10px;
	font-size: 14px;
	margin-left: 5px;
	cursor: pointer;
	background-color: #0077cc;
	color: white;
	border: none;
	border-radius: 3px;
	transition: background-color 0.2s ease;
} */
/* #searchButton:hover {
		background-color: #005fa3;
} */

/* search suggestion styling */
#searchSuggestions {
	position: absolute;
	top: 40px;
	left: 10px;
	width: 300px;
	max-height: 150px;
	overflow-y: auto;
	background: var(--searchSuggestion-color);
	border: 1px solid var(--searchSuggestion-color-border);
	border-top: none;
	z-index: 10;
	display: none;
	box-shadow: 0 40px 60px var(--searchSuggestion-color-shadow);
	border-radius: 0 0 4px 4px;
}
#searchInput{
	border: 1px solid var(--searchSuggestion-color-border);
}

.suggestion-item {
		padding: 8px 10px;
		cursor: pointer;
		border-bottom: 1px solid var(--searchSuggestion-color-item);
		font-size: 14px;
}
.suggestion-item:hover {
		background: var(--searchSuggestion-color-item-hover);
}


/* main content area styling */
#mainContent {
	display: flex;
	height: 100%;
	width: 100%;
	overflow: hidden;
}


/* control area / slider styling */
#controls {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem 1.5rem;
	/* background-color: #ffffff; */
	/* border-bottom: 1px solid #ccc; */
	font-size: 1rem;
	z-index: 1;
	justify-content: center;
}

/* year slider */
#yearLabel {
	font-weight: bold;
	color: var(--yearSlider-color-label);
	padding-left: 0.5rem;
}

#yearSlider {
	-webkit-appearance: none;
	appearance: none;
	width: 300px;
	height: 8px;
	border-radius: 4px;
	background: var(--yearSlider-color);
	outline: none;
	transition: background 0.3s;
	cursor: pointer;
}
#yearSlider::-webkit-slider-thumb,
#yearSlider::-moz-range-thumb {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: var(--yearSlider-color-knob);
	border: 2px solid var(--yearSlider-color-knob-border);
	cursor: grab;
}
#yearSlider::-webkit-slider-thumb:active,
#yearSlider::-moz-range-thumb:active {
	cursor: grabbing; 
}


/* map styling */
#mapContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: width 0.3s ease;
}
/* #mapContainer.with-sidebar {
	width: calc(100% - 300px);
} */

#map {
	flex: 1;
	width: 100%;
	background: var(--map-color);
	display: block;
}

/* map layer styling */
.county,
.city {
	transition: stroke 0.2s ease, stroke-width 0.2s ease;
}

.county {
	fill: var(--county-color);
	stroke: var(--county-color-border);
	shape-rendering: crispEdges;
	cursor: pointer;
}
.county-label {
	text-anchor: middle;
	fill: var(--county-color-label);
	pointer-events: none;
}
.county.selected {
	stroke: var(--county-color-border-highlight);
	stroke-width: 1;
	fill: var(--county-color-highlight);
}

.city {
	fill: var(--city-color); 
	stroke: var(--city-color-border);
	stroke-opacity: 0.6;
	shape-rendering: crispEdges;
	cursor: pointer;
}
.city-label {
	text-anchor: middle;
	fill: var(--city-color-label);
	pointer-events: none;
}
.city.selected {
	stroke: var(--city-color-border-highlight);
	stroke-width: 0.5;
	fill: var(--city-color-highlight);
}

path.county:hover,
path.city:hover,
path.fire:hover {
	filter: brightness(93%);
	cursor: pointer;
}


/* fire layer styling */
path.fire{
	fill: var(--fire-color);
	opacity: 0.5;
	stroke: var(--fire-color-border);
	shape-rendering: crispEdges;	
}
path.fire.selected {
    fill: var(--fire-color-selected);
    opacity: 0.8;
    stroke: var(--fire-color-border-selected);
	stroke-width: 0.3;
}


/* sidebar styling */
#sidebar {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--sidebar-color);
	box-shadow: -2px 0 5px var(--sidebar-color-shadow);
	z-index: -3;  /* hide on initial load */

	right: 0;
	position: absolute;
	width: 30%;
	height: 100%;
	transition: width 0.3s ease;
}

#sidebarContent {
	padding: 16px;
	height: 100%;
	
	/* debug */
	/* border: 1px solid red; */
}

#closeSidebarButton {
	position: absolute;
	top: 5px;
	right: 5px;

	width: 18px;
	height: 18px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: transparent;
	border: 2px solid #ccc;
	border-radius: 50%;

	cursor: pointer;
	box-sizing: border-box;

    background-color: rgba(255, 96, 92, 1);
}


/* Hide the X icon by default */
#closeSidebarButton .close-icon {
	opacity: 0;
	transition: opacity 0.2s ease;
	font-size: 20px;
    color: rgba(200, 48, 48, 1);
}

/* Show the X icon only when hovering over the button */
#closeSidebarButton:hover .close-icon {
	opacity: 1;
}


/* line graph styling */
#graphContainer {
	position: static;
	margin-top: 20px;
	width: 100%;
	/* height: 100%; */
}

#graph{
	width: 100%;
	height: calc(100% * 1.5);
	background-color: var(--graph-color);
	border: 1px solid var(--graph-color-border);
}

.graphAxis{
	font-size: 10px;
}

.graphAxisLabel{
	font-size: 1em;
	text-anchor: middle;
}

.lineGraphLine{
	fill: none;
	stroke: var(--graph-color-line);
	stroke-width: 3px;
}
/* .lineGraphLine.highlighted{
	opacity: 0;
	stroke: gold;
	stroke-width: 4px;
	transition: opacity 0.3s ease;
} */

#lineGraphFocusCircle{
	fill: none;
	stroke: var(--graph-color-circle);
	stroke-width: 3px;
	opacity: 0;
	r: 8px;
}


/* tooltip styling */
.tooltip{
	position: absolute;
	padding: 8px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
	pointer-events: none;
	opacity: 0;
}
.tooltip.visible{
	opacity: 1;
}

#lineGraphTooltip{
	z-index: 10;
}
